IMAP_HOST=imap.server.address
IMAP_FOLDER=Inbox
IMAP_BATCH_SIZE=5
INCOMING_EMAIL_PATTERN=rapid7

MAIL_USER=username_for_both_imap_and_smtp
MAIL_PASS=password_for_both_imap_and_smtp

SMTP_HOST=smtp.server.address
SMTP_PORT=465

SENDER_EMAIL=valid.sender.address.for.smtp

TEMP_DIR_FOR_ATTACHMENTS=/tmp
CODE_EXECUTE_TIMEOUT=3
CONTROL_KEYWORD=banana